.root {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.label {
  display: block;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.error {
  color: var(--error);
  font-size: 0.75rem;
  white-space: nowrap;
}
