:root {
  --secondaryColor: lab(32.5 38.5 -47.6 / 90%);
  --fontSize: 1rem;
  --mainColor: #12345678;
}

@custom-media --viewport-medium (width <= 50rem);

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

html {
  overflow: hidden auto;
}

body {
  color: var(--mainColor);
  font-family: system-ui;
  overflow-wrap: break-word;
}

@media (--viewport-medium) {
  body {
    color: var(--mainColor);
    font-family: system-ui;
    font-size: var(--fontSize);
    line-height: calc(var(--fontSize) * 1.5);
    overflow-wrap: break-word;
    padding-bottom: 10px;
    padding-top: 15px;
  }
}

:--heading {
  margin-block: 0;
}

h1 {
  font-size: 40px;
}

a {
  color: rgb(0 0 100% / 90%);

  &:hover {
    color: rebeccapurple;
  }
}
